.container{
	max-width:60%;
	margin: auto;
}

.cats{
	margin:10%;
	display: flex;
	flex-wrap:wrap;
	border: 1px solid red;
	padding-right:0px;
}

.kit{
	width:50%;
	height:15rem;
}

.cheu{
	width:50%;
	height:15rem;
}