.container{
	max-width:60%;
	margin: auto;
}

.cats{
	margin:10%;
	padding-right:0px;
	width: 50%;
	height:50%;
}

.kit{
	max-width:100%;
	max-height:100%;
	object-fit: contain;

}

.cheu{
	max-width:100%;
	max-height:100%;
}